<a href="https://colab.research.google.com/github/rvkabilesh/data-engineer-journey/blob/main/day12_time_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd

df = pd.read_csv('/content/sales_cleaned_day12.csv')
df['Date'] = pd.to_datetime(df['Date'] , errors= 'coerce')

df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

monthly_summary = df.groupby(['Year','Month','Category']).agg({
    'Revenue':'sum', 'Quantity':'sum'
    }).reset_index()

print(monthly_summary)

   Year  Month     Category  Revenue  Quantity
0  2024      6  Electronics   182500         8
1  2024      6    Furniture     2000         1
2  2024      7   Stationery       40         2

In [51]:
june_sales = df[(df['Month'] == 6) & (df['Year'] == 2024)]
print(june_sales)

        Date  ProductID  Quantity  Price Product     Category       City  \
0 2024-06-01        101         2  60000  Laptop  Electronics    Chennai
1 2024-06-01        102         5    500   Mouse  Electronics    Chennai
2 2024-06-02        103         1   2000   Chair    Furniture  Bengaluru
3 2024-06-03        101         1  60000  Laptop  Electronics    Chennai

  Customer  Revenue  Month  Year
0    Alice   120000      6  2024
1      Bob     2500      6  2024
2  Charlie     2000      6  2024
3    Alice    60000      6  2024

In [46]:
pivot = df.pivot_table(
    index='Month',
    columns='Category',
    values='Revenue',
    aggfunc='sum'
).fillna(0)

print(pivot)

Category  Electronics  Furniture  Stationery
Month
6            182500.0     2000.0         0.0
7                 0.0        0.0        40.0

In [47]:
monthly_summary.to_csv('monthly_category_summary_day12.csv', index=False)
pivot.to_csv('pivot_table_revenue_day12.csv')