<a href="https://colab.research.google.com/github/rvkabilesh/data-engineer-journey/blob/main/day13_sqlite_queries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import sqlite3

df = pd.read_csv('/content/sales_cleaned_day12.csv')
conn = sqlite3.connect('sales_day13.db')
df.to_sql('sales', conn, if_exists='replace', index=False)

cursor = conn.cursor()
query1 = 'select sum(Revenue) from sales'
cursor.execute(query1)
print('Total revenue(Rs):',cursor.fetchone()[0])

Total revenue(Rs): 184540

In [18]:
query2 = 'select Product, sum(Revenue) TotalRevenue from sales group by Product order by TotalRevenue desc'
df_prod = pd.read_sql_query(query2, conn)
print("Revenue by Product:\n", df_prod)

Revenue by Product:
   Product  TotalRevenue
0  Laptop        180000
1   Mouse          2500
2   Chair          2000
3     Pen            40

In [19]:
query3 = """
SELECT Category, City, SUM(Revenue) as Revenue
FROM sales
WHERE Category = 'Electronics'
GROUP BY City
ORDER BY Revenue DESC
"""
df_city = pd.read_sql_query(query3, conn)
print("Electronics Revenue by City:\n", df_city)

Electronics Revenue by City:
       Category     City  Revenue
0  Electronics  Chennai   182500

In [20]:
df_prod.to_csv("sql_product_revenue_day13.csv", index=False)
df_city.to_csv("sql_city_revenue_day13.csv", index=False)