<a href="https://colab.research.google.com/github/rvkabilesh/data-engineer-journey/blob/main/day10_sales_cleaning_and_summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('/content/sales_dirty_day10.csv')

print(df)

         Date   Product   Quantity    Price        City   Customer
0  2024-06-01     Laptop          2    60000     Chennai     Alice
1  2024-06-01      Mouse          5     ₹500     Chennai       Bob
2  2024-06-02   keyboard                 800   Bengaluru   Charlie
3  2024-06-03      Mouse          3      500    chennai        Bob
4  2024-06-03      mouse          3     ₹500     Chennai       Bob
5  2024-06-04                     1      200   Hyderabad       Eve
6  2024-06-05     Laptop          1   ₹60000     Chennai     Alice
7  2024-06-06   Keyboard          2     ₹800   Bangalore   Charlie
8  2024-06-06     Laptop              ₹60000                 Alice
9  2024-06-07     Laptop        500    60000     Chennai    Hacker

In [113]:
import pandas as pd

df = pd.read_csv('/content/sales_dirty_day10.csv')

df.columns = df.columns.str.strip().str.title()
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Product'] = df['Product'].astype(str).str.strip().str.capitalize()
df = df[df['Product'].str.len() > 0]
df['Quantity'] = pd.to_numeric(df['Quantity'].astype(str).str.strip(),errors='coerce').fillna(0).astype('int64')
df = df[df['Quantity'] <= 100]
df['Price'] = pd.to_numeric(df['Price'].astype(str).str.strip().str.replace('₹',''),errors='coerce').fillna(0).astype('float64')
df['City'] = df['City'].astype(str).str.strip().str.capitalize()
df = df[df['City'].str.len() > 0]
df['Customer'] = df['Customer'].astype(str).str.strip().str.capitalize()
df = df.drop_duplicates()
df['revenue'] = df['Quantity'] * df['Price']

df.to_csv('sales_cleaned_day10.csv', index=False)

df1 = df.groupby('Product').agg({'Quantity': 'sum', 'revenue': 'sum'}).reset_index()
df1 = df1.sort_values('revenue', ascending=False)
df1.to_csv('day10_summary.csv', index=False)

print(df1)

top_product = df1.iloc[0]
print(f"Top-Selling Product: {top_product['Product']} (Revenue: ₹{top_product['revenue']})")

top_city = df.groupby('City')['revenue'].sum().sort_values(ascending=False).index[0]
print(f"Top City by Revenue: {top_city}")

    Product  Quantity   revenue
1    Laptop         3  180000.0
2     Mouse         8    4000.0
0  Keyboard         2    1600.0
Top-Selling Product: Laptop (Revenue: ₹180000.0)
Top City by Revenue: Chennai