<a href="https://colab.research.google.com/github/rvkabilesh/data-engineer-journey/blob/main/day3_loops_functions_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a function that takes a list of numbers and returns the sum.

Write a function is_even(n) that returns True if the number is even.

Use a for loop to print every letter in your name.

Use a while loop to count down from 5 to 1 and print "Lift off!"

Bonus: Write a function to find the max value in a list (donâ€™t use max())

In [ ]:
def sum(lst):
  sum = 0
  for i in lst:
    sum += i
  return sum

lst1 = [1,2,3,4,5]
sum(lst1)

15

In [ ]:
def is_even(n):
  if n % 2 == 0:
    return True
  else:
    return False

is_even(4)

True

In [11]:
for i in 'james':
  print(i)

j
a
m
e
s

In [ ]:
num = 6
while num > 1:
  num -= 1
  print(num)
print("Lift off!")

5
4
3
2
1
Lift off!

In [14]:
def max(lst1):
  max=0
  for i in lst1:
    if i > max:
      max = i
  return max

lst1 = [1,2,3,4,5]
max(lst1)

5