<a href="https://colab.research.google.com/github/rvkabilesh/data-engineer-journey/blob/main/day8_pandas_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [163]:
import pandas as pd

df = pd.read_csv('sales.csv')
#print(df)

#new column
df['rev'] = df['Quantity'] * df['Price']
print(df)

total_rev = df['rev'].sum()
print(f'Total Revenue: {total_rev}\n')

summary = df.groupby('Product').agg({
    'rev': 'sum',
    'Quantity': 'sum'
}).reset_index()

print(f'''summary:
{summary}\n''')

summary.to_csv('pandas_sales_report.csv', index=False)

specific_date_sales = df.groupby('Date').agg({'rev':'sum'}).reset_index()
print(f'date specific sales:\n {specific_date_sales}\n')

top_product = summary.sort_values('rev', ascending=False).iloc[0]
print(f"Top-selling product by revenue:\n{top_product}\n")

print('sorted by rev:\n',summary.sort_values('rev', ascending=False))

         Date   Product  Quantity  Price     rev
0  2024-06-01    Laptop         2  60000  120000
1  2024-06-01     Mouse         5    500    2500
2  2024-06-02  Keyboard         3   1500    4500
3  2024-06-02   Monitor         1  12000   12000
4  2024-06-03     Mouse         2    500    1000
Total Revenue: 140000

summary:
    Product     rev  Quantity
0  Keyboard    4500         3
1    Laptop  120000         2
2   Monitor   12000         1
3     Mouse    3500         7

date specific sales:
          Date     rev
0  2024-06-01  122500
1  2024-06-02   16500
2  2024-06-03    1000

Top-selling product by revenue:
Product     Laptop
rev         120000
Quantity         2
Name: 1, dtype: object

sorted by rev:
     Product     rev  Quantity
1    Laptop  120000         2
2   Monitor   12000         1
0  Keyboard    4500         3
3     Mouse    3500         7